<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
		
   <environments default = "development">
      <environment id = "development">
         <transactionManager type = "JDBC"/> 
			
         <dataSource type = "POOLED">
            <property name = "driver" value = "org.postgresql.Driver"/>
            <property name = "url" value = "jdbc:postgresql://dumbo.db.elephantsql.com:5432/zgbyqehi"/>
            <property name = "username" value = "zgbyqehi"/>
            <property name = "password" value = "5TMhKamnNwPJE1bi9BwbBz4l60dVVlkg"/>
         </dataSource>   
         
      </environment>
   </environments>
	

   
</configuration>